%figure.approves-banner
  = image_tag('hound-approves-banner.png')

.repo-listing.pitch
  %h1.logo Hound
  %h2
    Take care of pesky code reviews with a trusty Hound. Hound reviews Github pull requests for styleguide violations.
    = link_to 'https://github.com/thoughtbot/guides/tree/master/style', class: 'style-guide', target: '_blank' do
      View the style guide &rarr;
  = link_to '/auth/github', class: 'auth button' do
    = t('authenticate')

.images
  %figure
    = image_tag('hound-working.png')
  %figure
    = image_tag('hound-report.png')
