%section.onboarding
  .inner-wrapper
    %h1 Lets keep that code in style:
    %ol.onboarding-steps
      - if current_user.has_active_repos?
        %li.step
          %h4 Hound is active on #{ current_user.repos.active.count } of your repos!
          %p= t("onboarding.step-one-desc")
        %li.step.current-step
          %h4= t("onboarding.step-two-title")
          %p= t("onboarding.step-two-desc")
      - else
        %li.step.current-step
          %h4= t("onboarding.step-one-title")
          %p= t("onboarding.step-one-desc")
        %li.step
          %h4= t("onboarding.step-two-title")
          %p= t("onboarding.step-two-desc")
      %li.step
        %h4= t("onboarding.step-three-title")
        %p= t("onboarding.step-three-desc")
