- content_for :page_title, 'Your Repos'

= render 'settings'

- if display_onboarding?
  = render 'onboarding'
- else
  = render 'github_app'

%section.organization-list{ 'organization-list' => '' }

= javascript_pack_tag "app"
= react_component "App",
  appName: ENV.fetch("GITHUB_APP_NAME"),
  userHasCard: current_user.card_exists?
