- content_for :page_title, "Your Repos"

= render 'settings'

.dashboard
  %aside(ng-class="{ 'open': menu }")
    %section.current-org
      %header
        .title-wrapper
          .icon(style="background-image: url('')")
          %h2 thoughtbot
        .menu-toggle
          %a.open-menu(href="" ng-click="menu = !menu")
            %i.fa.fa-chevron-right
      %nav
        %ul
          %li
            .icon
            = link_to "Repositories", "#", class: "current"
        %ul
          %li
            .icon
            = link_to "Ruby Rules", "#"
          %li
            .icon
            = link_to "Javascript Rules", "#"
          %li
            .icon
            = link_to "Coffeescript Rules", "#"
          %li
            .icon
            = link_to "Scss Rules", "#"
        %ul
          %li
            .icon
            = link_to "Billing", "#"

    %section.all-orgs
      %header
        .title-wrapper
          %h2 Your Organizations
        .menu-toggle
          %a.close-menu(href="" ng-click="menu = !menu")
            %i.fa.fa-times
      %nav
        %ul
          %li
            .icon.org(style="background-image: url('')")
            = link_to "thoughtbot", "#", class: "current"
  %section.repo-listing{ 'repo-list' => '' }
  = render 'preload_template', template: 'repo_list'
