<ul id="repo-list">
</ul>

<script type="text/template" id="repo-list-item-template">
<li>{{ name }} <%= link_to 'on', nil, class: 'activate' %><%= link_to 'off', nil, class: 'deactivate' %></li>
</script>

<% content_for :javascript do %>
  <%= javascript_include_tag 'repos/index' %>
  <%= javascript_tag do %>
    var repoList = RepoList(<%= raw @repos.to_json %>);
    repoList.render($('#repo-list'));
  <% end %>
<% end %>
