<tr>
  <td><%= successful.date %></td>

  <td><%= successful.amount %></td>

  <td><%= successful.description %></td>

  <td><%= successful.status %></td>

  <td><%= link_to "Show", successful %></td>
</tr>
