- content_for(:title) do
  Job Failures

%header.main-content__header{ role: "banner" }
  %h1.main-content__page-title#page-title
    = content_for(:title)

%section.main-content__body.main-content__body--flush
  %table{ "aria-labelledby": "page-title" }
    %thead
      %tr
        %th.cell-label.cell-label--string.cell-label--false{ scope: "col" }
          Job
        %th.cell-label.cell-label--string.cell-label--false{ scope: "col" }
          Count
        %th.cell-label.cell-label--string.cell-label--false{ scope: "col" }
          Message
        %th.cell-label.cell-label--string.cell-label--false{ scope: "col" }
          Last at
        %th{ scope: "col" }

    %tbody
      - resources.each do |error_message, job_failures|
        %tr
          %td.cell-data.cell-data--string
            = job_failures.first.job_class
          %td.cell-data.cell-data--array
            = job_failures.size
          %td.cell-data.cell-data--array
            = error_message
          %td.cell-data.cell-data--array
            = latest_failed_at(job_failures)
          %td
            = button_to "Remove",
              admin_job_failure_path(id: "none"),
              params: { ids: job_failures.map(&:id) },
              method: :delete
