- content_for :page_title, "Hound"
- content_for :body_class, "landing benefits"
- content_for :variation, "benefits"

%section.hero
  .section-content
    = image_tag('landing/HoundLogo.svg', class: 'hound-logo')
    %h2
      Your code, always in style.
    %p
      Hound calls out style violations in your code when pull requests are
      opened, allowing you to always maintain a clean codebase.

    %ul.call-to-action
      %li
        = link_to "/auth/github", class: "auth button" do
          %i.fa.fa-github
          %span= t('authenticate')

%section.use-cases
  .section-content
    %header.section-header
      %h3
        Why does style matter?

    %dl
      %dt Consistancy
      %dd
        Decide on a style and use it. Sticking with a style guide helps reduce
        the amount of decisions that a developer needs to make when writing
        code, helping to keep their focus on logic not semantics.

    %dl
      %dt Readability
      %dd
        Many style rules are chosen for purposes of enhancing visual
        comprehension and when every line of code is written in the same style,
        the whole codebase becomes easier to read, understand and de-bug.

    %dl
      %dt Cohesion
      %dd
        A cohesive codebase is a reflection of a cohesive team. Consistent use
        of a style guide gets everyone on the same page and can help when
        introducing new developers to an existing codebase.

    .supported-languages
      %h3
        Hound currently runs style and linting checks on

      %ul.supported-languages-list
        %li
          = image_tag 'languages/ruby.png', class: 'language-logo'
          %p.language-name
            Ruby
        %li
          = image_tag 'languages/coffeescript.png', class: 'language-logo'
          %p.language-name
            CoffeeScript
        %li
          = image_tag 'languages/javascript.png', class: 'language-logo'
          %p.language-name
            JavaScript
        %li
          = image_tag 'languages/sass.png', class: 'language-logo'
          %p.language-name
            Scss


%section.use-cases
  .section-content
    %h3
      Write code, make commits, submit a pull request, get reviewed.

    %p
      Hound integrates with your existing workflow by reviewing and commenting
      on code the moment a GitHub pull request is opened. Every commit made to
      an open pull request will also get reviewed by Hound. It’s like having an
      automated teammate, dedicated to style.

    %h3
      Use our guides or configure your own.

    %p
      Hounds default style guides build upon accepted industry standards and
      are the result of years of utilization in software projects at
      thoughtbot. Have your own style guide or need to modify the default?
      Hound provides the ability to customize your guides to best suit your
      teams needs.

%section.pricing#pricing
  .section-content
    %header.section-header
      %h3
        Stay focused on the things that can’t be automated and let Hound keep
        your style inline.

    %dl.plan-tier
      %dt
        %i.fa.fa-book
        Open Source
      %dd
        Get high quality pull requests today
      %dd
        Free

    %dl.plan-tier
      %dt
        %i.fa.fa-lock
        Private Teams
      %dd
        Save time bringing new developers up to speed on your team's coding
        standards.
      %dd
        $12/mo per repo

%footer.section-content
  = render 'shared/footer'
