.report
  %h1.logo
    Hound
    %span Violations

  - build.violations.each do |violation|
    %h4#git_diff
      = link_to violation.filename, '#git_diff'

    - violation.lines.each do |line|
      %ul
        %li.violation
          %span.line-number
            = line[:line_number]
          %pre
            %code
              = line[:code]
          .message
            - line[:messages].each do |message|
              %p
                = message

%footer.report-repo-list
  .repo-listing
    %ul
      %li.repo
        %span.toggle.deactivate
          %a{'href' => ''}
        %span.name
          = build.repo.name
      %li.repo
        %span.name
          = link_to 'View all other repos', root_path
