- content_for :page_title, "Recent Builds"

%ul.build-list
  - builds.each do |build|
    = content_tag_for :li, build, class: "build-list-item" do
      .build
        .build-meta
          %h2.build-org-repo
            = build.repo.full_github_name
          %h4.build-time
            %span
              = time_ago_in_words(build.created_at)
        .build-meta
          %h3.build-pull-request
            %span Pull request
            %strong
              = build.pull_request_number
          %h3.build-sha
            %span Latest commit
            %strong
              = build.commit_sha[0..6]
        = form_for :rebuild, url: repo_rebuilds_path(build.repo) do |form|
          = form.hidden_field :pull_request_number,
            value: build.pull_request_number
          = form.submit t(".new"), class: "build-button"
