%footer.app-footer
  %p
    Hound is maintained by #{link_to 'thoughtbot', 'http://thoughtbot.com'}.
    Questions? Tweet #{link_to '@houndci', 'https://twitter.com/houndci'}.

  %p
    Hound is Copyright &copy; #{Date.today.year} thoughtbot. It is open source and may be
    redistributed under the terms specified in the #{link_to 'license', 'https://github.com/thoughtbot/hound/blob/master/LICENSE'}.

  .links
    = link_to 'View Hound on Github', 'https://github.com/thoughtbot/hound'
