%header
  = link_to root_path do
    %h1.logo Hound
  - if signed_in?
    %ul.nav
      %li.dropdown
        %input#account-menu-toggle{type: 'checkbox'}
        %label.toggle{for: 'account-menu-toggle'} #{current_user}
        .menu
          = link_to 'Your Repos', repos_path, class: 'repo-link'
          = link_to "Your Account", account_path
          = link_to 'Configure Hound', configuration_path
          = link_to 'FAQ', faq_path
          = link_to 'Sign Out', sign_out_path
