%header
  %ul.pull-left
    %li
      = link_to repos_path, class: "logo" do
        %h1 Hound
    %li
      = link_to "Docs", configuration_path, class: "docs"
    %li
      = link_to "FAQ", faq_path, class: "faq"
  %ul.pull-right
    - if signed_in?
      %li
        = link_to account_path, class: "account" do
          - if current_user.email_address.present?
            .avatar(style="background-image: url('#{avatar_url(current_user)}')")
          %span #{current_user.github_username}
      %li
        = link_to "Sign Out", sign_out_path, class: "sign-out"
    - else
      %li
        = render "shared/auth_button"
