<div class="plan plan-vertical <%= current ? 'current' : '' %> <%= new ? 'new' : '' %>">
  <% if current %>
    <div class="marker-wrapper">
      <span class="current-plan">Current Plan</span>
    </div>
  <% end %>
  <% if new %>
    <div class="marker-wrapper">
      <span class="new-plan">New Plan</span>
    </div>
  <% end %>
  <div class="plan-divider">
    <h5 class="plan-title"><%= name %></h5>
    <div class="plan-allowance">
      <% if open_source %>
        Unlimited
      <% else %>
        Up to
        <strong><%= allowance %></strong>
        Repos
      <% end %>
    </div>
  </div>
  <div class="plan-price">
    <%= price %>
    <small>month</small>
  </div>
</div>
