<section class="c-page-section c-page-section--primary">
  <div class="o-container">
    <div class="c-page-section__header">
      <%= tag.h2 t(".heading"), class: "c-page-section__heading" %>
    </div>

    <div class="c-page-section__content">
      <dl class="o-grid u-text-align-center">
        <div class="o-grid__item o-grid__item--span-4@medium">
          <%= tag.dt t(".convention_heading"), class: "u-margin-bottom-2" %>
          <%= tag.dd t(".convention_text") %>
        </div>

        <div class="o-grid__item o-grid__item--span-4@medium">
          <%= tag.dt t(".consistency_heading"), class: "u-margin-bottom-2" %>
          <%= tag.dd t(".consistency_text") %>
        </div>

        <div class="o-grid__item o-grid__item--span-4@medium">
          <%= tag.dt t(".awesomeness_heading"), class: "u-margin-bottom-2" %>
          <%= tag.dd t(".awesomeness_text") %>
        </div>
      </dl>
    </div>
  </div>
</section>
