.inner-wrapper
  %ul.home-languages-list
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/coffeescript.svg", alt: ""
      %p.home-languages-list-item-heading CoffeeScript
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/elixir.svg", alt: ""
      %p.home-languages-list-item-heading Elixir
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/go.svg", alt: ""
      %p.home-languages-list-item-heading Go
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/haml.svg", alt: ""
      %p.home-languages-list-item-heading Haml
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/javascript.svg", alt: ""
      %p.home-languages-list-item-heading JavaScript
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/python.svg", alt: ""
      %p.home-languages-list-item-heading Python
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/ruby.svg", alt: ""
      %p.home-languages-list-item-heading Ruby
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/sass.svg", alt: ""
      %p.home-languages-list-item-heading Sass
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/swift.svg", alt: ""
      %p.home-languages-list-item-heading Swift
    %li.home-languages-list-item
      .home-languages-list-item-logo
        = image_tag "languages/typescript.svg", alt: ""
      %p.home-languages-list-item-heading TypeScript
