- content_for :page_title, I18n.t("home.index.title")
- content_for :meta_description, I18n.t("home.index.description")
- content_for :body_class, "home home-index"
- content_for :header_class, "home-header"

%section
  .section-content
    .inner-wrapper
      .home-hero
        %h1.home-hero-heading
          Code review tool for GitHub pull requests
        %h2.home-hero-subheading
          Hound comments on style violations in GitHub pull requests, allowing
          you and your team to better review and maintain a clean codebase.

        .home-hero-cta
          = render "application/auth_button"

    .home-languages
      %h4.home-heading--small.home-languages-heading Currently style checking

      .inner-wrapper
        %ul.home-languages-list
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/coffeescript.svg"
            %h5.home-languages-list-item-heading CoffeeScript
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/go.svg"
            %h5.home-languages-list-item-heading Go
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/haml.svg"
            %h5.home-languages-list-item-heading Haml
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/javascript.svg"
            %h5.home-languages-list-item-heading JavaScript
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/ruby.svg"
            %h5.home-languages-list-item-heading Ruby
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/sass.svg"
            %h5.home-languages-list-item-heading Scss
          %li.home-languages-list-item
            .home-languages-list-item-logo
              = image_tag "languages/swift.svg"
            %h5.home-languages-list-item-heading Swift

%section.home-importance
  .section-content
    %h3.home-heading--large.home-importance-heading.section-title
      Why does style matter?

    .inner-wrapper
      %article.home-importance-item
        .home-importance-icon
          %i.fa.fa-bolt
        .home-importance-text
          %h4.home-heading--small Convention
          %p
            Defining and sticking with a style guide helps reduce the amount of
            decisions that developers need to make when writing code, helping to
            keep their focus on logic, not semantics and formatting.

      %article.home-importance-item
        .home-importance-icon
          %i.fa.fa-ellipsis-h
        .home-importance-text
          %h4.home-heading--small Consistency
          %p
            When every line of code is written in the same style, the whole
            codebase becomes easier to read, understand and de-bug. It also
            helps prevent areas of the codebase from being “owned” by one
            person's unique style vs. the team.

      %article.home-importance-item
        .home-importance-icon
          %i.fa.fa-magic
        .home-importance-text
          %h4.home-heading--small Awesomeness
          %p
            A clean codebase is a reflection of a cohesive team. It gives the
            impression of a team working well together towards a common goal,
            rather than individual developers working independently.

%section.value
  .section-content
    %article.value-section
      .value-text
        %h3.home-heading--large
          Write code, submit a pull request, get review from Hound.
        %p
          Hound integrates with your existing workflow by reviewing and commenting
          on code the moment a GitHub pull request is opened or updated.

      = image_tag "home-page/hound_flow.png", class: "value-image"

    %article.value-section
      .value-text
        %h3.home-heading--large
          Save time, get better reviews.
        %p
          Automated style checking with Hound gives developers more time to
          give the kind of code review that humans are best at giving.

      = image_tag "home-page/review_example.png", class: "value-image"

%section.configuration
  .section-content
    %figure.configuration-image
      = image_tag "home-page/guides.png"
    .configuration-text
      %h4.home-heading--small
        Use our guides or configure your own.
      %p
        Hound's default style guides build upon accepted industry standards and
        are the result of years of utilization in software projects at
        = link_to "thoughtbot.", "http://thoughtbot.com/", new_window_options
        Have your own style guide or need to modify the default?
        Hound provides the ability to customize your guides to best suit your
        team's needs.

%section.home-pricing
  .section-content#pricing
    .section-title
      %h3.home-pricing-heading.home-heading--large
        Hound keeps your code style in check.

    %article.plans
      .inner-wrapper
        %h4.plan-category
          %i.fa.fa-book
          Private Repos

        = render(partial: @home.private_pricings, as: :plan)

        %h4.plan-category.open-source
          %i.fa.fa-code-fork
          Open Source

        = render(partial: @home.open_source_pricings, as: :plan)

%section.home-security
  .section-content
    %article
      %h4.home-heading--small
        Uncomfortable giving us access to your code?
      %p
        Don’t worry, we get it. Our mission is to help you maintain a clean code
        base, nothing more. Our security documentation details what kind of
        access we need and why.

      .home-security-actions
        = link_to "https://github.com/houndci/hound/blob/master/doc/SECURITY.md",
          new_window_options(class: "home-security-actions-policy") do
          %span Read our security policy
