- content_for :page_title, "Configuration"

.hound-docs.configuration-docs
  %aside.docs-nav
    %ul
      %li
        = link_to "Hound config", "#configuration"
      %li
        = link_to "Ruby config", "#ruby"
      %li
        = link_to "Coffeescript config", "#coffeescript"
      %li
        = link_to "Javascript config", "#javascript"
      %li
        = link_to "JSCS config", "#jscs"
      %li
        = link_to "SCSS config", "#scss"
      %li
        = link_to "Haml config", "#haml"
      %li
        = link_to "Go config", "#go"
      %li
        = link_to "Python config", "#python"

  %section.doc-content
    %article
      %h1 Hound Documentation
      %p
        Want to modify style rules to better suit your preferences?
        Below you will find documentation on configuring style rules for each
        language we support.

      %p
        If this page doesn't help you find what you are looking for,
        please tweet at us
        #{link_to "@houndci", "https://twitter.com/houndci", target: :blank}
        or email us at #{mail_to "hound@thoughtbot.com"}
        and we will help you out.

    %article#configuration
      %h3 Hound Configuration
      %p
        With a
        %em.code .hound.yml
        file you can tell Hound which languages not to review
        (all supported, non-beta languages are reviewed by default)
        and specify paths to custom style rules and an ignore file
        for JavaScript.

      %p
        Put your
        %em.code .hound.yml
        file in the root directory of your project. Here is an example:

      %code.code-block
        :preserve
          scss:
            enabled: false

          ruby:
            config_file: .ruby-style.yml

          javascript:
            ignore_file: .javascript_ignore

      %p
        In this example, review of SCSS is deactivated (:sad face:) and we are
        pointing Hound to a custom config file for Ruby style checking and
        an ignore file for JavaScript.

      %p
        Hound can be configured to use
        = link_to "GitHub's Status API",
          "https://github.com/blog/1935-see-results-from-all-pull-request-status-checks",
          target: :blank
        to mark a pull request as failed if any violations are found. To do so,
        add the following to your
        %em.code .hound.yml
        file:

      %code.code-block
        :preserve
          fail_on_violations: true

    %article#ruby
      %h3 Ruby
      %p
        Hound uses
        #{link_to "RuboCop", "https://github.com/bbatsov/rubocop", target: :blank}
        with this
        #{link_to "config", ruby_config_url, target: :blank}
        by default.

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", ruby_config_url, target: :blank}
        into your project, make changes and reference the file in your
        %em.code .hound.yml

        %code.code-block
          :preserve
            ruby:
              config_file: .ruby-style.yml

      %p
        Add the following code to your
        %em.code .hound.yml
        to disable Ruby style checking.

        %code.code-block
          :preserve
            ruby:
              enabled: false

    %article#coffeescript
      %h3 CoffeeScript

      %p
        Hound uses
        #{link_to "CoffeeLint", "http://www.coffeelint.org", target: :blank}
        with this
        #{link_to "config", coffeescript_config_url, target: :blank}.

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", coffeescript_config_url, target: :blank}.
        into your project, make changes and reference the file in your
        %em.code .hound.yml

        %code.code-block
          :preserve
            coffeescript:
              config_file: .coffeescript-style.json

      %p
        Add the following code to your
        %em.code .hound.yml
        to disable CoffeeScript style checking.

        %code.code-block
          :preserve
            coffeescript:
              enabled: false

    %article#javascript
      %h3 JavaScript

      %p
        Hound uses
        #{link_to "JSHint", "https://github.com/jshint/jshint", target: :blank}
        with this
        #{link_to "config", javascript_config_url, target: :blank}.

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", javascript_config_url, target: :blank}.
        into your project, make changes and reference the file in your
        %em.code .hound.yml

      %p
        %code.code-block
          :preserve
            javascript:
              config_file: .javascript-style.json

      %p
        If you would like to ignore certain JavaScript files, simply copy the
        #{link_to "default config", javascript_ignore_url, target: :blank}
        into your project, make changes and reference the file in your
        %em.code .hound.yml

        %code.code-block
          :preserve
            javascript:
              ignore_file: .javascript_ignore

      %p
        Add the following code to your
        %em.code .hound.yml
        to disable JavaScript style checking.

        %code.code-block
          :preserve
            javascript:
              enabled: false

    %article#jscs
      %h3 JSCS (beta)

      %p
        Add the following code to your
        %em.code .hound.yml
        to enable JSCS style checking.

        %code.code-block
          :preserve
            jscs:
              enabled: true

      %p
        Hound uses
        = link_to "JSCS",
          "http://jscs.info/",
          target: :blank
        with this
        = link_to "config", jscs_config_url, target: :blank

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", jscs_config_url, target: :blank}.
        into your project, make changes and reference the file in your
        %em.code .hound.yml

      %p
        %code.code-block
          :preserve
            jscs:
              enabled: true
              config_file: .jscsrc

      %p
        For more information on the available rules in your
        %em.code config_file
        , you can read about them on the
        = link_to "JSCS Rules Documentation",
          "http://jscs.info/rules",
          target: :blank


    %article#scss
      %h3 SCSS

      %p
        Hound uses
        #{link_to "SCSS-Lint", "https://github.com/causes/scss-lint", target: :blank}
        with this
        #{link_to "config", scss_config_url, target: :blank}.

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", scss_config_url, target: :blank}.
        into your project, make changes and reference the file in your
        %em.code .hound.yml

      %p
        %code.code-block
          :preserve
            scss:
              config_file: .scss-style.yml

      %p
        If you would like to ignore certain SCSS files, add
        %em.code exclude:
        to your
        %em.code .scss-style.yml
        to exclude scss files from being linted.

        %code.code-block
          :preserve
            scss:
              exclude:
                - "app/assets/stylesheets/plugins/**"

      %p
        Add the following code to your
        %em.code .hound.yml
        to disable SCSS style checking.

        %code.code-block
          :preserve
            scss:
              enabled: false

    %article#haml
      %h3 Haml

      %p
        Add the following code to your
        %em.code .hound.yml
        to enable Haml style checking.

        %code.code-block
          :preserve
            haml:
              enabled: true

      %p
        Hound uses
        #{link_to "haml-lint", "https://github.com/brigade/haml-lint", target: :blank}
        with this
        #{link_to "config", haml_config_url, target: :blank}.

      %p
        If you need to change the way Hound is configured, simply copy the
        #{link_to "default config", haml_config_url, target: :blank}
        into your project, make changes and reference the file in your
        %em.code .hound.yml

      %p
        %code.code-block
          :preserve
            haml:
              config_file: .haml-style.yml

    %article#go
      %h3 Go

      %p
        Add the following code to your
        %em.code .hound.yml
        to enable Go style checking.

        %code.code-block
          :preserve
            go:
              enabled: true

    %article#python
      %h3 Python (beta)

      %p
        Add the following code to your
        %em.code .hound.yml
        to enable Python style checking.

        %code.code-block
          :preserve
            python:
              enabled: true

      %p
        Hound uses
        = link_to "Flake8",
          "http://flake8.readthedocs.org/en/latest/",
          target: :blank
        with its
        = link_to "default config",
          "http://flake8.readthedocs.org/en/latest/config.html#default",
          target: :blank
        \.

      %p
        If you need to change the way Hound is configured, create a
        = link_to ".ini file",
          "http://flake8.readthedocs.org/en/latest/config.html#per-project",
          target: :blank
        with your custom configuration and reference the file in
        %em.code .hound.yml

      %p
        %code.code-block
          :preserve
            python:
              enabled: true
              config_file: .flake8.ini

    %article
      %h3 Didn't find what you where looking for?

      %p
        Please tweet at us
        #{link_to "@houndci", "https://twitter.com/houndci", target: :blank}
        or email us at #{mail_to "hound@thoughtbot.com"}
        and we will help you out.
