- content_for :page_title, "Configuration"

= render 'shared/header'

%main.content-doc
  %h2 Configuration

  %h3 Ruby

  %p
    Ruby style can be configured by adding a
    #{link_to "config file", "https://gist.github.com/salbertson/a0d61ab05f64daf1bdc2", target: :blank}
    to the root of your project. Make sure to name the file
    %em.code .ruby-style.yml
    so Hound can find it.

  %p
    Hound uses #{link_to "RuboCop", "https://github.com/bbatsov/rubocop", target: :blank}
    internally so most of the
    #{link_to "RuboCop config", "https://github.com/bbatsov/rubocop/blob/master/config/default.yml", target: :blank}
    options can be used.

  %h3 CoffeeScript

  %p
    CoffeeScript style can be configured by adding a
    #{link_to "config file", "https://gist.github.com/salbertson/f164c87c0a63f04aafb2", target: :blank}
    to the root of your project. Make sure to name the file
    %em.code .coffeescript-style.json
    so Hound can find it.

  %p
    Hound uses #{link_to "CoffeeLint", "http://www.coffeelint.org", target: :blank}
    internally so most of the
    #{link_to "CoffeeLint config", "https://github.com/clutchski/coffeelint/blob/master/coffeelint.json", target: :blank}
    options can be used.

  %h3 JavaScript

  %p
    JavaScript style can be configured by adding a
    #{link_to "config file", "https://gist.github.com/salbertson/8186a6bfa5ac362c825b", target: :blank}
    to the root of your project. Make sure to name the file
    %em.code .javascript-style.json
    so Hound can find it.

  %p
    Hound uses #{link_to "JSHint", "https://github.com/jshint/jshint", target: :blank}
    internally so most of the
    #{link_to "JSHint config", "http://jshint.com/docs/options", target: :blank}
    options can be used.

  %p
    If you want to exclude certain files or directories you can add something like this:

    %code.code-block
      :preserve
        {
          "exclude": [
            "vendor/**"
          ]
        }

  %h3 SCSS

  %p
    SCSS style can be configured by adding a
    #{link_to "config file", "https://gist.github.com/salbertson/6d20bcd1c0be681192d7", target: :blank}
    to the root of your project. Make sure to name the file
    %em.code .scss-style.yml
    so Hound can find it.

  %p
    Hound uses #{link_to "SCSS-Lint", "https://github.com/causes/scss-lint", target: :blank}
    internally so most of the
    #{link_to "SCSS config", "https://github.com/causes/scss-lint/blob/master/config/default.yml", target: :blank}
    options can be used.
