- content_for :page_title, "Configuration"

%main.content-doc
  %h2 Configuration

  %h3 Ruby

  %p
    Hound uses
    #{link_to "RuboCop", "https://github.com/bbatsov/rubocop", target: :blank}
    with this
    #{link_to "configuration", "https://gist.github.com/salbertson/8b5cf70c2354e04ec7cd", target: :blank}.

  %p
    If you need to configure Hound differently, simply copy the default file
    into your project and name it
    %em.code .ruby-style.yml

  %p
    You also need to add a
    %em.code .hound.yml
    to the root of your project and reference the config.

    %code.code-block
      :preserve
        ruby:
          config_file: .ruby-style.yml

  %p
    To disable Ruby style checking, add the following to
    %em.code .hound.yml
    in the root of your project.

    %code.code-block
      :preserve
        ruby:
          enabled: false

  %h3 CoffeeScript

  %p
    Hound uses
    #{link_to "CoffeeLint", "http://www.coffeelint.org", target: :blank}
    with this
    #{link_to "configuration", "https://gist.github.com/salbertson/7ce998ffcdf09efa2627", target: :blank}.

  %p
    If you need to configure Hound differently, simply copy the default file
    into your project and name it
    %em.code .coffeescript-style.json

  %p
    You also need to add a
    %em.code .hound.yml
    to the root of your project and reference the config.

    %code.code-block
      :preserve
        coffee_script:
          config_file: .coffeescript-style.json

  %p
    To disable CoffeeScript style checking, add the following to
    %em.code .hound.yml
    in the root of your project

    %code.code-block
      :preserve
        coffee_script:
          enabled: false

  %h3 JavaScript

  %p
    Hound uses
    #{link_to "JSHint", "https://github.com/jshint/jshint", target: :blank}
    with this
    #{link_to "configuration", "https://gist.github.com/salbertson/2023aa80a2807d24d6a4", target: :blank}.

  %p
    If you need to configure Hound differently, simply copy the default file
    into your project and name it
    %em.code .javascript-style.json

  %p
    You also need to add a
    %em.code .hound.yml
    to the root of your project and reference the config.

    %code.code-block
      :preserve
        java_script:
          config_file: .javascript-style.json

  %p
    If you would like to ignore certain JavaScript files then set
    %em.code ignore_file
    in your
    %em.code .hound.yml

    %code.code-block
      :preserve
        java_script:
          ignore_file: .javascript_ignore

  %p
    Each line in
    %em.code .javascript_ignore
    should specify a pattern for files to ignore.

    %code.code-block
      :preserve
        vendor/**/*

  %p
    To disable JavaScript style checking, add the following to
    %em.code .hound.yml
    in the root of your project

    %code.code-block
      :preserve
        java_script:
          enabled: false

  %h3 SCSS

  %p
    Hound uses
    #{link_to "SCSS-Lint", "https://github.com/causes/scss-lint", target: :blank}
    with this
    #{link_to "configuration", "https://gist.github.com/salbertson/da7120f7a11b5ac460f5", target: :blank}.

  %p
    If you need to configure Hound differently, simply copy the default file
    into your project and name it
    %em.code .scss-style.yml

  %p
    You also need to add a
    %em.code .hound.yml
    to the root of your project and reference the config.

    %code.code-block
      :preserve
        scss:
          config_file: .scss-style.yml

  %p
    To disable SCSS style checking, add the following to
    %em.code .hound.yml
    in the root of your project

    %code.code-block
      :preserve
        scss:
          enabled: false

  %p
    Please tweet at us #{link_to "@houndci", "https://twitter.com/houndci", target: :blank} or email us at #{link_to "hound@thoughtbot.com", "mailto:hound@thoughtbot.com"} if you have any questions or need a hand.
