- content_for :page_title, "FAQ"

%section.hound-docs.faq-docs
  %aside.docs-nav
    %p.message
      If this FAQ doesn't answer all of your questions tweet at us
      #{link_to "@houndci", "https://twitter.com/houndci", target: :blank}
      or email us at #{mail_to "hound@thoughtbot.com"}.
      We will help you out.

  %section.doc-content
    %article
      %h1 Frequently Asked Questions

    %article
      %h3 Why isn't Hound commenting on my pull request?
      %ul
        %li
          Note that Hound only comments when style violations are found. Ensure
          that changes made in your pull request actually contain style guide
          violations.
        %li
          Alternatively, tools like RuboCop and JSHint can be used to
          check for style guide violations locally, given your configuration.
        %li
          Ensure that configuration is setup to report on the specific violations.
          See the
          = link_to('configuration', configuration_path)
          page for more info.
        %li
          Be sure your PR is of a manageable size. The Github API has access
          limits which can affect the number of violations reported. Anecdotally,
          we've seen pull requests with more than 250 changed files get incomplete
          responses.

    %article
      %h3 Why doesn't Hound list a repo on which I'm a collaborator?
      %p
        Only GitHub repository admins can enable Hound.
      %p
        For more information, see GitHub's documentation on permission levels for
        = link_to('organization repos', 'https://help.github.com/articles/permission-levels-for-an-organization-repository/')
        and
        = link_to('user account repos.', 'https://help.github.com/articles/permission-levels-for-a-user-account-repository/')

    %article
      %h3 Do you offer a trial subscription?
      %p
        We currently don't have a trial subscription level. We suggest trying it
        out on open-sourced repos first, since these can be activated free of charge.

    %article
      %h3 Do you offer bulk pricing for my GitHub organization?
      %p
        Yes, we offer monthly or yearly bulk pricing for your GitHub organization,
        rather than paying per-repo.
        Email us at #{mail_to "hound@thoughtbot.com"}
        with your GitHub organization name
        and number of repos you'd like to enable.

    %article
      %h3 How secure is my code now that Hound has access?
      %p
        Please see our
        = link_to('security page.',
          'https://github.com/thoughtbot/hound/blob/master/doc/SECURITY.md')


    %article
      %h3 Do you offer GitHub Enterprise support?
      %p
        Not at the current time. A user has shared their method of getting it to
        work
        = link_to('here in this GitHub issue',
          'https://github.com/thoughtbot/hound/issues/426')
        but it is not an officially supported approach.

    %article
      %h3 How do I unsubscribe from Hound?
      %p
        If you are no longer satisfied with Hound, you can cancel your subscription
        by disabling your repo on
        = link_to('the repo page.', repos_path)

    %article
      %h3 Can I have Hound check my entire repository for style?
      %p
        No, and we don't recommend doing so. Our rule is "Don't rewrite existing
        code to follow the style guide." See the
        = link_to('thoughtbot style guide.',
          'https://github.com/thoughtbot/guides#guides')
      %p
        It can be dangerous to re-write a lot of code for just style reasons. It
        can introduce functional regressions, which are a higher-level concern than
        style.
      %p
        We believe the right approach is to convert a codebase over time, one pull
        request at a time, to conform to a style guide. Only focus on style in
        diffs and make smaller changes that ideally have tests associated with
        them.
      %p
        If you'd still like to analyze your whole repo, try using
        = link_to('Rubocop', 'https://github.com/bbatsov/rubocop')
        locally.
