:javascript
  window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
  window.analytics.load("#{Hound::SEGMENT_KEY}");

- if flash[:signed_up]
  :javascript
    window.analytics.alias("#{current_user.id}");

- if signed_in?
  :javascript
    window.analytics.identify(
      "#{current_user.id}",
      #{raw identify_hash.to_json},
      #{raw intercom_hash.to_json}
    );
- else
  :javascript
    var links = document.getElementsByClassName("auth");

    for (var i = 0; i < links.length; i++) {
      window.analytics.trackLink(
        links[i],
        "Clicked Sign In",
        { variation: "#{ab_test("auth_button")}" }
      );
    }

- if flash[:signed_up]
  :javascript
    window.analytics.track("Signed Up", #{raw campaign_hash.to_json});

:javascript
  window.analytics.page(
    "#{j content_for(:page_title)}",
    #{raw campaign_hash.to_json}
  );

= yield :analytics
