= content_for "original", t("authenticate"), flush: true
= content_for "aggressive", t("aggressive_authenticate"), flush: true
= content_for :variation, @button_type, flush: true

= link_to "/auth/github", class: "auth" do
  %i.fa.fa-github
  %span= content_for @button_type

- content_for :analytics do
  :javascript
    var link = document.getElementsByClassName("auth")[0];
    window.analytics.trackLink(link, "Clicked Sign In");
