%footer.app-footer{ role: "contentinfo" }
  %nav.app-footer__nav
    = link_to "Source Code",
      "https://github.com/houndci/hound",
      class: "app-footer__nav-link"
    = link_to "FAQ",
      "https://intercom.help/hound/frequently-asked-questions",
      class: "app-footer__nav-link"
    = link_to "Terms",
      "https://github.com/houndci/hound/blob/master/doc/TERMS.md",
      class: "app-footer__nav-link"
    = link_to "Privacy",
      "https://github.com/houndci/hound/blob/master/doc/PRIVACY.md",
      class: "app-footer__nav-link"
    = link_to "Security",
      "https://github.com/houndci/hound/blob/master/doc/SECURITY.md",
      class: "app-footer__nav-link"

  %p
    Hound is maintained by #{link_to "thoughtbot", "https://thoughtbot.com/"}.
    Questions? Try the
    #{link_to "FAQ", "https://intercom.help/hound/frequently-asked-questions"}
    or tweet
    #{link_to "@houndci", "https://twitter.com/houndci", new_window_options}.

  %p
    Hound is Copyright &copy; #{Date.today.year} thoughtbot. It is open source
    software and may be redistributed under the terms specified in the
    #{link_to "license", "https://github.com/houndci/hound/blob/master/LICENSE"}.

  %p
    The names and logos for Hound are trademarks of thoughtbot.
