%footer.app-footer{ role: "contentinfo" }
  %nav.app-footer__nav
    = link_to "Source Code",
      "https://github.com/houndci/hound",
      new_window_options(class: "app-footer__nav-link")
    = link_to "Help",
      ENV.fetch("HELP_URL"),
      new_window_options(class: "app-footer__nav-link")
    = link_to "Terms",
      "https://github.com/houndci/hound/blob/master/doc/TERMS.md",
      new_window_options(class: "app-footer__nav-link")
    = link_to "Privacy",
      "https://github.com/houndci/hound/blob/master/doc/PRIVACY.md",
      new_window_options(class: "app-footer__nav-link")
    = link_to "Security",
      "https://github.com/houndci/hound/blob/master/doc/SECURITY.md",
      new_window_options(class: "app-footer__nav-link")

  %p
    Questions? Try our
    #{link_to "Help Center", ENV.fetch("HELP_URL"), new_window_options}
    or tweet
    #{link_to "@houndci", "https://twitter.com/share?text=@houndci", new_window_options}.
