:javascript
  Namespaced.declare("Hound.settings");
  Hound.settings = {
    stripePublishableKey: "#{Hound::STRIPE_PUBLISHABLE_KEY}",
    syncingButtonText: "#{I18n.t('syncing_repos')}",
    syncNowButtonText: "#{I18n.t('sync_repos')}",
    searchPlaceholder: "#{I18n.t('search_placeholder')}",
    iconPath: "#{image_path('icon.svg')}",
  };
