!!!
%html
  %head
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
    %title
      = [content_for(:page_title), "Hound"].compact.uniq.join(" | ")
    %link{ href: "//fonts.googleapis.com/css?family=Lato:300,400,700,900", rel: "stylesheet", type:"text/css" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v2/"
    = javascript_include_tag "https://checkout.stripe.com/checkout.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: content_for(:body_class) || "hound" }
    = render "application/header"
    - user_facing_flashes.each do |key, value|
      .flash{ class: key }
        = value

    .content{ class: content_for(:container_class) }
      = yield

    = render "application/footer"

    = javascript_tag do
      = yield :javascript

    - if analytics?
      = render "analytics"
