<!DOCTYPE html>
<html>
<head>
  <title>Hound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| -%>
  <div class="flash <%= key %>"><%= value %></div>
<% end -%>

<%= yield %>

<% if signed_in? %>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
<% end %>

</body>
</html>
