!!!
%html
  %head
    %title Hound
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,700,900', rel: 'stylesheet', type:'text/css' }
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      .flash{ class: key }
        = value

    - if signed_in?
      .signed-in
        Signed in as
        %span.current-user
          = "#{current_user}, "
          = link_to 'sign out &rarr;'.html_safe, sign_out_path, method: :delete

    = yield

    = yield :javascript
