<!doctype html>
<%= tag.html lang: I18n.locale do %>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= tag.title [content_for(:page_title), "Hound"].compact.uniq.join(" - ") %>
    <%= tag.link(
      as: "font",
      crossorigin: "anonymous",
      href: "https://font.thoughtbot.com/hound/Tofino-Regular.woff",
      rel: "preload",
      type: "font/woff",
    ) %>
    <%= tag.link(
      as: "font",
      crossorigin: "anonymous",
      href: "https://font.thoughtbot.com/hound/Tofino-Medium.woff",
      rel: "preload",
      type: "font/woff",
    ) %>
    <link rel="preconnect" href="https://github.com">
    <%= stylesheet_link_tag "marketing", media: "screen" %>
    <% if content_for? :meta_description %>
      <%= tag.meta content: content_for(:meta_description), name: "description" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "application/app_nav_marketing" %>

    <% user_facing_flashes.each do |key, value| %>
      <%= tag.div value, class: "flash #{key}" %>
    <% end %>

    <%= tag.main yield %>

    <%= render "application/app_footer_marketing" %>

    <% if analytics? %>
      <%= render "analytics" %>
    <% end %>
  </body>
<% end %>
