- content_for :page_title, "Your Account"

= render 'settings'

%section.account-section
  %aside.account-nav
    %p.message
  .account-content
    .billing-breakdown
      %h2.label-text
        Your monthly cost

        - if current_user.stripe_customer_id.present?
          %span.section-action
            %a{ 'ng-controller' => 'accountController', 'ng-click' => 'showStripeForm()' }
              Update Credit Card

      %table.itemized-receipt
        %thead
          %tr
            %th Description
            %th Base Cost
            %th Quantity
            %th Subtotal
        %tbody
          - @account_page.monthly_line_items.each do |line_item|
            %tr
              %td
                = line_item.title
              %td
                = line_item.base_price
              %td
                = line_item.quantity
              %td
                = line_item.subtotal

      %table.monthly-total
        %tbody
          %tr
            %td
              %label Total Monthly Cost:
            %td
              %span.total-amount= @account_page.total_monthly_cost

    .active-private-repos
      %h2 Active private repos billed to you

      - if @account_page.repos.any?
        %ul.private-repos
          - @account_page.repos.each do |repo|
            %li.repo
              %span.repo-name{ "ng-class" => "{private: #{repo.private}}" }
                = repo.full_github_name
      - else
        %p.empty-state-message
          You have no private repos billed to you
