- content_for :page_title, "Your Account"

= render 'settings'

%section.account-section
  %aside.account-nav
    %h3
      Plans

    - @account_page.pricings.each do |pricing|
      = render("shared/plan_vertical",
          allowance: pricing.allowance,
          current: pricing.current?,
          name: pricing.title,
          new: pricing.next?,
          price: pricing.price,
        )

    %p.message= t("account.bulk_pricing", mail_to: mail_to("hound@thoughtbot.com")).html_safe

  .account-content
    %article.billing-breakdown
      = react_component("UpdateAccountCreditCard",
          authenticity_token: form_authenticity_token,
          stripe_customer_id_present: current_user.stripe_customer_id.present?,
        )
      %table.itemized-receipt
        %thead
          %tr
            %th Plan
            %th Allowance
            %th Remaining
            %th Subtotal
        %tbody
          %tr
            %td
              = @account_page.plan
            %td
              = @account_page.allowance
            %td
              = @account_page.remaining
            %td
              = number_to_currency(@account_page.total_monthly_cost,
                  precision: 0,
                )

      %table.monthly-total
        %thead
          %tr
            %th
              %label Total Monthly Cost:
            %th.total-amount
              %label
                = number_to_currency(@account_page.total_monthly_cost,
                    precision: 0,
                  )

    - if current_user.stripe_customer_id.present?
      = react_component("UpdateAccountEmail",
          authenticity_token: form_authenticity_token,
          billable_email: @account_page.billable_email,
        )
    %article.active-private-repos
      - if @account_page.repos.any?
        %h3 Active Private Repos
        %table
          %thead
            %tr
              %th Repository
              %th Reviews given
              %th Violations caught
          %tbody
            - @account_page.repos.each do |repo|
              %tr.repo
                %td
                  %span.repo-name
                    = repo.name
                %td.reviews-given
                  = repo.builds.count
                %td.violations-caught
                  = repo.total_violations
