- content_for :page_title, "Your Account"

= render 'shared/header'
= render 'settings'

%section.account-section
  %h2.label-text
    Your monthly cost

    - if current_user.stripe_customer_id.present?
      %span.section-action
        %a{ 'ng-controller' => 'accountController', 'ng-click' => 'showStripeForm()' }
          Update Credit Card

  .account-content.account-breakdown
    %table
      %thead
        %tr
          %th.label-text Description
          %th.label-text Base Cost
          %th.label-text Quantity
          %th.label-text Subtotal
        - @account_page.monthly_line_items.each do |line_item|
          %tr
            %td
              = line_item.title
            %td
              = line_item.base_price
            %td
              = line_item.quantity
            %td
              = line_item.subtotal
    %dl
      %dt.label-text Total Monthly Cost
      %dd
        = @account_page.total_monthly_cost

%section.account-section
  %h2.label-text Active private repos billed to you

  .account-content.repos-breakdown
    - if @account_page.repos.any?
      %ul.private-repos
        - @account_page.repos.each do |repo|
          %li.repo
            %span.repo-name{ "ng-class" => "{private: #{repo.private}}" }
              = repo.full_github_name
    - else
      %p.empty-state-message
        You have no private repos billed to you
