- content_for :page_title, "Your Account"

= render 'settings'

%section.account-section
  %aside.account-nav
    %h3
      Plans

    - @account_page.plans.each do |plan|
      = render("shared/plan_vertical",
          allowance: plan.allowance,
          current: plan.current?,
          name: plan.title,
          new: plan.next?,
          price: plan.price,
        )

  .account-content
    %article.billing-breakdown
      = javascript_pack_tag "update_account_credit_card"
      = react_component("UpdateAccountCreditCard",
          stripe_customer_id_present: current_user.stripe_customer_id.present?,
        )
      %table.itemized-receipt
        %thead
          %tr
            %th Plan
            %th Allowance
            %th Remaining
            %th Subtotal
        %tbody
          %tr
            %td
              = @account_page.plan
            %td
              = @account_page.allowance
            %td
              = @account_page.remaining
            %td
              = number_to_currency(@account_page.total_monthly_cost,
                  precision: 0,
                )

      %table.monthly-total
        %thead
          %tr
            %th
              %label Total Monthly Cost:
            %th.total-amount
              %label
                = number_to_currency(@account_page.total_monthly_cost,
                    precision: 0,
                  )

      - if current_user.stripe_customer_id.present?
        = render(partial: "shared/account_dock", locals: { account_key: ENV["ACCOUNTDOCK_API_KEY"], stripe_customer_id: current_user.stripe_customer_id})

    - if current_user.stripe_customer_id.present?
      = javascript_pack_tag "update_account_email"
      = react_component("UpdateAccountEmail",
          billable_email: @account_page.billable_email,
        )

    %article.active-private-repos
      - if @account_page.repos.any?
        %h3 Active Private Repos
        %table
          %thead
            %tr
              %th Repository
              %th Reviews given
              %th Violations caught
          %tbody
            - @account_page.repos.each do |repo|
              %tr.repo
                %td
                  %span.repo-name
                    = repo.name
                %td.reviews-given
                  = repo.builds.count
                %td.violations-caught
                  = repo.total_violations
